<!doctype = html>
<head>
<title> A thingy </title>
</head>
<script>
const handleSuccess = async function(stream) {
    const context = new AudioContext();
    const source = context.createMediaStreamSource(stream);
    await context.audioWorklet.addModule('processor.js');
    const node = new AudioWorkletNode(context, 'processor');
    
    node.connect(context.destination);   
    context.connect(node);
    
  };

  navigator.mediaDevices.getUserMedia({ audio: true, video: false })
      .then(handleSuccess); 
</script>