<html>
<head>
<script type = "text/javascript">
function sleep(milliseconds) {
	let startTime = new Date().getTime();
	while (true)   {
		let timePassed = new Date().getTime() - startTime
		if (timePassed > milliseconds)
		break;
	}
}

function Initialise() {
if (navigator.mediaDevices) {
	
	function getNote(bufferLength, analyser, context, notesArray, timeBetweenSamples) {
		while (true) {
			//create a new array and use the analyser to fill it with byte frequency data
			var dataArray = new Uint8Array(bufferLength);
			// array to store Frequency values	
			analyser.getByteFrequencyData(dataArray);
			
			var i = 0;
			var highestdB = 0;
			var highesti = 0;
			while(i < analyser.frequencyBinCount) {
				//console.log((dataArray[i]));
				++i;
				if (highestdB < dataArray[i]) {
					highestdB = dataArray[i];
					highesti = i;
				}
			}
			//find frequency by finding the loudest played frequency
			var freq = (context.sampleRate / analyser.fftSize) * highesti
			
			//convert frequency to a note on a keyboard
			var notePosOnKeyboard = Math.round(12 * (Math.log(freq / 440)/Math.log(2)) + 69); //A is 69th key on a keyboard
			var note = notesArray[notePosOnKeyboard % 12]; // % is modulus
			var octaveNo = Math.floor(notePosOnKeyboard / 12);
			console.log(note.concat(octaveNo));
			
			//document.getElementById("noteId").innerHTML = note; // .innerHTML allows js code to manipulate website being displayed
			sleep (timeBetweenSamples);
		}
	}
    
    //getUserMedia takes 3 arguments
    //1. constraints 
    navigator.getUserMedia ({audio: true},
     
    //2. successCallback
    function(stream){
		console.log('getUserMedia is supported');
		
		var notesArray = ["C", "C#", "D", "D#", "E", "F", "F#", "G", "G#", "A", "A#", "B#"];
		
		var context = new AudioContext(); // controls creation of audio nodes and contains execution of audio processing
		var source = context.createMediaStreamSource(stream); // sets source of data to be input from microphone
		var analyser = context.createAnalyser(); //analyser can be used to find the frequency of a buffer
		
		//analyser.minDecibels = -100
		//analyser.maxDecibels = -10;
		//analyser.smoothingTimeConstant = 0.8;
		context.sampleRate = 48000
      
		source.connect(analyser);
		//source.connect(context.destination);	//allows for playback of microphone data through speakers
      
		analyser.fftSize = 8192 //fast fourier transform size - 16384 is best
      
		var bufferLength = analyser.frequencyBinCount;
		sleep(1000);
		var timeBetweenSamples = 100;
		//var dataArray = new Uint8Array(bufferLength);
																																									
		getNote(bufferLength, analyser, context, notesArray, timeBetweenSamples);																																							
	
    },//3. errorCallback
      function(err){console.warn('getUserMedia is NOT supported')}); 
    //end of getting user media
    
  };
}
//onmouseup ="getNote()"
</script>
</head>

<body>
<p id = "noteId"> Note goes here! </p>
<button onmousedown = "Initialise()"  > Click (and hold?) </button> 
</body>

</html>
