<html>
   <body>
      <form action = "choose" method = "get">
         <p>Enter SongId:</p>
         <p><input type = "song" id = "textbox" type name = "sng" /></p>
         <p><input type = "submit" value = "submit" /></p>
         02 = Lost Woods
         <br>
         03 = Your Latest Trick
         <br>
         404 = No song, just get the notes you're playing
         <br>
      </form>
    <button onmousedown = "changeTextTo('02')"  >02</button> 
	<button onmousedown = "changeTextTo('03')"  >03</button>
	<button onmousedown = "changeTextTo('404')" >04</button>
	<button onmousedown = "changeTextTo('C')"   >C</button>
	<button onmousedown = "changeTextTo('Eb')"  >Eb</button>
   </body>
</html>
