<html>
   <body>
      <form action = "choose" method = "get">
         <p>Enter SongId:</p>
         <p><input type = "song" name = "sng" /></p>
         <p><input type = "submit" value = "submit" /></p>
         02 = Lost Woods
         <br>
         03 = Your Latest Trick
         <br>
         404 = No song, just get the notes you're playing
            
         <p>Enter transposition:</p>
         <p><input type = "mode" name = "mde" /></p>
         <p><input type = "submit" value = "submit" /></p>
         Eb
         <br>
         C
         <br>
      </form>
      <p id= "errorId"  </input>
      <script>
		var error_code = '{{ error_code }}';
		if (typeof error_code !== ""){
			console.log(error_code);
			document.getElementById("errorId").innerHTML = error_code;
		}
      </script>
      
   </body>
</html>
