<html>
<head>
	
<script type = "text/javascript">
function metronomeCountIn() { //can showImage
	counter = 1;
	function metLoop(){
		document.getElementById("metronomeId").value = (((counter % 4) + 1) + " and a");
		counter++;
		if (counter == 5) { //stop executing
			clearInterval(window.run_metLoop);
		}
	}
	var run_metloop = setInterval(metLoop, 750);
	
	beat = document.getElementById("beatAudio");
	//samples_per_beat = (1000/timeBetweenSamples)*(120/bpm)
	//i = 0;
	//console.log("here");
	//var interval = setTimeout( beatIt(), 250 /*samples_per_beat * timeBetweenSamples*/ );
	/*function beatIt() {console.log(i + " and a");
		beat.play;
		console.log("inside");
		sleep(samples_per_beat * timeBetweenSamples); //no don't use sleep
		beat.pause();
		beat.currentTime = 0;
		++i;
		if (i > 4) {clearInterval(interval);}	
		}	*/
}

function getNote(bufferLength, analyser, context, notesArray, timeBetweenSamples, sampleNo, songID, track) {
	songID = parseInt(songID) //string to int
	
	switch(songID) {
		case 01:
		//Astral Alley - 4/4 time sig., 100bpm, in A Minor
			var songArray = [["Astral Alley", 100], ["C", 1], ["A", 6], ["C", 0.5], ["D", 0.5], //bar 1-2 //["C", 1] = Play C note for 1/8th of a 2 bar phrase 1/8 = Crotchet, 0.5/8 = Quaver
												    ["C", 1], ["A", 6], ["C", 0.5], ["D", 0.5], //bar 3-4
													["E", 2], ["D", 2], ["A", 3], ["C", 0.5], ["D", 0.5], //...
													["C", 1], ["A", 6]];
			var bpm = 110;
			break;
		//Lost Woods - 4/4, 130 bpm, in F
		case 02:
			var songArray =[["Lost Woods", "130"],  ["F", 0.5], ["A", 0.5], ["B", 1], ["F", 0.5], ["A", 0.5], ["B", 1], 
													["F", 0.5], ["A", 0.5], ["B", 0.5], ["E", 0.5], ["D", 1], ["B", 0.5], ["C", 0.5],
													["B", 0.5], ["G", 0.5], ["E", 2.5], ["D", 0.5],											
													["E", 0.5], ["G", 0.5], ["E", 3]];
			var bpm = 130;
			break;
		}
		
		var recording = true;

		
		var silenceTime = 1;
		var currentNote = 1;
		var noteSampleNo = 1;
		var noteSampleIncorrect = 0		
		
		
		//var dummyVar;
		if ((songID == 01) || (songID == 02)) {
			var playingSong = true;
			showSong(songId, currentNote); //shows first note
		}
		//console.log(dummyVar = ((songID == 01) || (songID == 02)) ? "Playing a song " + songID:"No Song");
		function recordingMadness() {
			function findFreqFromDataArray(dataArray){
				//goes through entire dataArray of dB values and finds the loudest one (the actual frequency being played, ignoring background noise)
				var highestdB = 0;
				var highesti = 0;
				for(var i = 0; i < analyser.frequencyBinCount; i++) { //for the length of
					if (highestdB < dataArray[i]) {
						highestdB = dataArray[i];
						highesti = i;
					}
				}
				//find frequency by finding the loudest played frequency
				var freq = (context.sampleRate / analyser.fftSize) * highesti
				return freq;

			}
			
			//create a new array and use the analyser to fill it with byte frequency data   // start and stop buttoons
			var dataArray = new Uint8Array(bufferLength);
			// array to store Frequency values	
			analyser.getByteFrequencyData(dataArray); //stores the frequencies of one place in time into an array
			
			
			var freq = findFreqFromDataArray(dataArray);
			//convert frequency to a note on a keyboard
			var notePosOnKeyboard = Math.round(12 * (Math.log(freq / 440)/Math.log(2)) + 69); //A is 69th key on a keyboard
			var note = notesArray[notePosOnKeyboard % 12]; // % is modulus
			var octaveNo = Math.floor(notePosOnKeyboard / 12);
			
			//PLAYING ALONG* - Astral Alley: 100 bpm - 1 sample per 50 milliseconds = 20 samples/second = 24 samples per beat
			++sampleNo; // a sample has been taken
			var samples_per_beat = (1000/timeBetweenSamples)*(120/bpm);																			//<=== Dodgy???
			var beatNo = Math.floor(sampleNo/samples_per_beat) + 1;
			
			if (playingSong) {
				if (sampleNo == 1) { console.log(songArray[0][0]); //song name
									console.log(songArray[0][1]); //bpm
									metronomeCountIn(bpm, timeBetweenSamples);}
								
				//SEEING IF THE NOTE FITS THE SONG
				samples_for_note = (samples_per_beat * songArray[currentNote][1]); //e.g. total samples for a 0.5 beat note is samples per beat * 0
				if (noteSampleNo < samples_for_note) { //if still sampling one note
					++noteSampleNo
					if (note !== songArray[currentNote][0]){ //wrong note
						++noteSampleIncorrect;
					} 
				}
				else {// finished sampling for the note
					function finishedSamplingNote() {
						if ((noteSampleIncorrect/noteSampleNo) > 0.25) {return true;}// if more than 25% incorrect, keep waiting for user to play correct note
						else {return true;} 
					}
					
					var correctlyPlayed = finishedSamplingNote();
					noteSampleIncorrect = 0;
					if (correctlyPlayed) {
						console.log(songArray[currentNote][0] + " done! Now play " + songArray[currentNote + 1][0]);
						++currentNote; //next note in songArray	
						showSong(songId, currentNote, songArray[currentNote][0], freq);//show next note to play
					}
					else {
						console.log("Wrong! Play a " + songArray[currentNote][0])
					}
					noteSampleNo = 0;
					if (songArray.length <= currentNote) { //if reached the end of the song
						console.log("End of song");
						playingSong = false;
					}
				}	
			}
			//if the microphone hears nothing then
			if (note == undefined) {
				console.log("Undefined note (too quiet?)");
				++silenceTime;}
			else {
				silenceTime = 0;
				if (!(playingSong)) {console.log(note.concat(octaveNo)); notesource = "../static/images/" + note + "q.png";}
				document.getElementById("noteId").innerHTML = note; // .innerHTML allows js code to manipulate website being displayed
		
				if (silenceTime > 19) {track.stop(); //stops recording	
					clearInterval(run_recordingMadness)}; //stops recording after 20 samples of hearing nothing
	
				document.getElementById("noteId").value = note;}; //show individual notes being played
			}	
		var run_recordingMadness = setInterval(recordingMadness, timeBetweenSamples);
		return
} 
   
function Initialise(songID) {
if (navigator.mediaDevices) {
	
	function noUserMedia(){
		console.warn('getUserMedia is NOT supported :(');
		document.getElementById("noteId").innerHTML = 'GetUserMedia not supported :(';
	}			
	
    //getUserMedia takes 3 arguments
    //1. constraints 
    navigator.getUserMedia ({audio: true}, //only uses audio can 
     
    //2. successCallback
    function(stream){
		console.log('getUserMedia is supported');
		
		var notesArray = ["C", "C#", "D", "D#", "E", "F", "F#", "G", "G#", "A", "A#", "B"];
		
		var context = new AudioContext(); // controls creation of audio nodes and contains execution of audio processing
		var source = context.createMediaStreamSource(stream); // sets source of data to be input from microphone
		var analyser = context.createAnalyser(); //analyser can be used to find the frequency of a buffer
		var track = stream.getTracks()[0]; //gets the single audio track as a variable to stop recording
		
		analyser.minDecibels = -60; //lower = more sound picked up, more likely for false readings
		//analyser.maxDecibels = -10;
		//analyser.smoothingTimeConstant = 0.8;
		context.sampleRate = 48000
      
		source.connect(analyser);
		//source.connect(context.destination);	//allows for playback of microphone data through speakers
      
		analyser.fftSize = 16384 //fast fourier transform size - 16384 is best
      
		var bufferLength = analyser.frequencyBinCount;
		
		//Astral Alley: 100 bpm - 1 sample per 50 milliseconds = 20 samples/second = 24 samples per beat
		var timeBetweenSamples = 50; // in milliseconds
		var sampleNo = 0;
											
		//getNote repeats while recording, and will exit the function when the user wants recording to stop
		getNote(bufferLength, analyser, context, notesArray, timeBetweenSamples, sampleNo, songID, track);
		
		//var run_getNotesetInterval = ( function() {getNote(bufferLength, analyser, context, notesArray, timeBetweenSamples)}, 250 )	//STREAM ISN'T THERE NOTHING ON PLAYBACK WHY DOESN'T THIS WORK :(
		console.log("Initialisation Complete");
		return																					
	
    },//3. errorCallback - 
    
    function(err){noUserMedia()});
	return
  };//end of getting user media
  
  console.log("navigator.mediaDevices error");
};

//CTRL+D!!!

function noteLengthFromNote (noteLengthNum){
	switch(noteLengthNum) {
		//console.log(noteLengthNum);
		case 1 : noteLength = "q"; return noteLength; break;
		case 2 : noteLength = "8"; return noteLength; break;
		default : return "q";
	}
}

function showSong(songId, noteInSong, note, freq) {
	switch(songId) {
		case "01":
		//Astral Alley - 4/4 time sig., 100bpm, in A Minor
			var songArray = [["Astral Alley", 100], ["C", 1], ["A", 6], ["C", 0.5], ["D", 0.5], //bar 1-2 //["C", 1] = Play C note for 1/8th of a 2 bar phrase 1/8 = Crotchet, 0.5/8 = Quaver
												    ["C", 1], ["A", 6], ["C", 0.5], ["D", 0.5], //bar 3-4
													["E", 2], ["D", 2], ["A", 3], ["C", 0.5], ["D", 0.5], //...
													["C", 1], ["A", 6]];
			var bpm = 110;
			break;
		//Lost Woods - 4/4, 130 bpm, in F
		case "02":
			var songArray =[["Lost Woods", "130"],  ["F", 0.5], ["A", 0.5], ["B", 1], ["F", 0.5], ["A", 0.5], ["B", 1], 
													["F", 0.5], ["A", 0.5], ["B", 0.5], ["E", 0.5], ["D", 1], ["B", 0.5], ["C", 0.5],
													["B", 0.5], ["G", 0.5], ["E", 2.5], ["D", 0.5],											
													["E", 0.5], ["G", 0.5], ["E", 3]];
			var bpm = 130;
			break;
		}
		var noteLength = "";
		var orientation = "";
		noteLength = noteLengthFromNote(songArray[noteInSong][1]);
		if (freq > 500) {var orientation = flipped;} //note is high enough that the notation changes and the note appears upside down to make space for it
		
		switch(note) {
			case "A#" : var pixelTranslate = -7;
			case "A"  : var pixelTranslate = -14;
			case "G#" : var pixelTranslate = -21;
			case "G"  : var pixelTranslate = -28;
			case "F#" : var pixelTranslate = -35;
			case "F"  : var pixelTranslate = -49;
			case "E"  : var pixelTranslate = -56;
			case "D#" : var pixelTranslate = -63;
			case "D"  : var pixelTranslate = -70;
			case "C#" : var pixelTranslate = -77;
			case "C"  : var pixelTranslate = -84;
			default   : var pixelTranslate = 10; 
		}
		console.log(pixelTranslate);
		showImage("../static/images/q" + orientation +".png", noteLength + orientation, pixelTranslate);
	return;
}

var i = 0;
var songId = '{{ sentSongId }}'; //gets song id from /choose
Initialise(songId);

//type = "audio/mpeg"

async function showImage(src, alt, pixelTranslate) { //show a note
	var myimage = document.createElement('img');
	myimage.src = src;
	myimage.width = 64;
	myimage.height = 128;
	myimage.alt = alt;
	console.log(pixelTranslate);
	myimage.style.transformtranslateY = '(' + pixelTranslate + 'px)';
	document.body.appendChild(myimage); //adds image to <body>
}

</script>

</head>

<title>Mmmmusic</title>

<style type = "text/css" >
body {
	background-image: url('../static/images/2staff.jpg');
	background-size: 1920px 128px;
	background-color: #E6E6E6;
	font-size: 20px;
	margin: 0;
}

a {
	color: #E6E6E6;
	transition: all 1s;
}

li:hover a {
	color: #141414;
	
}

ul {
	list-style-type:none;
	padding-left: 0;
	
}
 
li {
	margin: 20px 0px 20px 0px;
	padding: 10px;
	border-color: #28394D;
	border-width: 4px;
	border-style: solid;
	transition: all 0.8s;
}

li:hover {
	background-color: #32CD32;
	padding: 15px;

}
</style>

<body>
	
	
	<audio id = "beatAudio">
		<source src = "../static/sounds/beat.mp3" > 
	</audio>

	<input type = "text" id= "metronomeId" Note goes here! </input>
	<input type = "text" id= "noteId" Note goes here! </input>
		<button onmousedown = "checkType()"  > </button>
		
		<br>
</body>

</html>
