<!DOCTYPE html>
<html lang = "en">
	<title> Users </title>
	<style type = "text/css" >

body {
	background-color: #BCDDB3;
	font-size: 20px;
	margin: 0;
}

a {
	color: #E6E6E6;
	transition: all 1s;
}

li:hover a {
	color: #141414;
	
}

ul {
	list-style-type:none;
	padding-left: 0;
	
}
 
li {
	margin: 20px 0px 20px 0px;
	padding: 10px;
	border-color: #28394D;
	border-width: 4px;
	border-style: solid;
	transition: all 0.8s;
}

li:hover {
	background-color: #32CD32;
	padding: 15px;

}
</style>
  <body>
    <h1>Add user</h1>
    <form method="POST" action="/reg">
        <input type="text" name="name">
        <input type="submit" value="Add">
    </form>
	<br>
    <h1>Users</h1>
    <table>
    {% for user in users %}
	<tr>
		<td>
			<p>{{user.name}}</p>
			<form method="POST" action="/upd" style = "display: inline">
				<input type="hidden" value="{{user.name}}" name="oldname">
				<input type="text" value="{{user.name}}" name="newname">
				<input type="Submit" value="Update">
			</form>
		</td>
		<td>
			<form method = "POST" action = "/del" style = "display: inline">
				<input type = "hidden" value = "{{user.name}}" name = "name">
				<input type = "Submit" value = "Delete">
			</form>
		</td>
	</tr>
    {% endfor %}
    </table>
  </body>
</html>
